<div class="moduleContainer">
  <h1>Partyplaner Modul</h1>

  <div class="moduleContent">
    <div class="panel panel-default">
      <mat-card>
        <mat-card-title>Zur Party hinzufügen</mat-card-title>
        <div class="addPartyMemberForm">
          <mat-form-field>
            <input matInput [(ngModel)]="newPartymember.prename" placeholder="Vorname">
          </mat-form-field>
          <mat-form-field>
            <input matInput [(ngModel)]="newPartymember.surname" placeholder="Nachname">
          </mat-form-field>

          <button mat-flat-button color="primary" (click)="onAddMember()"
                  [disabled]="newPartymember.prename === '' || newPartymember.surname === ''">Hinzufügen
          </button>

          <div>
            <button mat-flat-button color="accent" style="width: 100%; margin-top: 10px" (click)="onAddScoutedFriend()">
              Ich habe keine Freunde. Ich möchte einen Suchen
            </button>
          </div>
        </div>
      </mat-card>
    </div>

    <mat-card>
      <mat-card-title>Party Teilnehmer</mat-card-title>
      <p *ngIf="(party$ | async).members.length === 0">Noch keine Teilnehmer</p>
      <mat-list>
        <mat-list-item class="list-group-item" *ngFor="let member of (party$ | async).members"><span>{{member.prename}} {{member.surname}}</span>
          <button mat-stroked-button style="margin-left: 10px" (click)="onRemoveMember(member)">Ausladen</button>
        </mat-list-item>
      </mat-list>
      <p>
        Anzahl Teilnehmer: {{(party$ | async).members.length}}
      </p>
    </mat-card>
  </div>
</div>
