<div class="moduleContainer">
  <h1>Partyplaner Modul</h1>

  <div class="moduleContent">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4>Zur Party hinzufügen</h4>
        <div class="input-group">
          <span class="input-group-addon">Vorname</span>
          <input class="form-control" [(ngModel)]="newPartymember.prename">
          <span class="input-group-addon">Nachname</span>
          <input class="form-control" [(ngModel)]="newPartymember.surname">
          <span class="input-group-btn">
      <button class="btn btn-success" (click)="onAddMember()"
              [disabled]="newPartymember.prename === '' || newPartymember.surname === ''">Hinzufügen</button>
        </span>
        </div>
      </div>
    </div>

    <div class="panel panel-default" style="width:auto">
      <div class="panel-body" style="width: auto">
        <h4>Party Teilnehmer</h4>
        <p *ngIf="(party | async).members.length === 0">Noch keine Teilnehmer</p>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let member of (party | async).members"><span>{{member.prename}} {{member.surname}}</span>
            <button style="margin-left: 10px" class="btn btn-danger" (click)="onRemoveMember(member)">Ausladen</button>
          </li>
        </ul>
      </div>
      <div class="panel-footer">
        Anzahl Teilnehmer: {{(party | async).members.length}}
      </div>
    </div>
  </div>
</div>
